@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sectionOne{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.info{
    width: 350px;
}

.info :is(h1){
    font-family:  sans-serif;
    font-size:2rem;
    padding: 10px;
}

.info :is(p){
    padding: 10px;
    font-family: sans-serif;
}

.info :is(button){
    cursor:grab;
    font-weight: 100;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: black;
    font-family:  sans-serif;
}
.card{
    display: flex;
    justify-content: space-around;
}

.p1{
    padding: 10px;
}

.sectionTwo{
    text-align: center;
    padding: 10px;
}

.sectionTwo h1{
    padding: 20px;
    font-family:  sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

.sectionTwo button{
    padding: 5px;
    color: whitesmoke;
    background-color: black;
    margin-top: 10px;
    cursor:grab;
    border-radius: 5px;
    padding: 10px;

}

.sectionTwo img{
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 4rem   ;
}

.sectionTwo p{
    padding: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 1rem;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    outline: 2px solid yellow;
}